<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Your Save Games
    <ul>
        @foreach (var item in Model) {
        <li><a href="/@(item)/dashboard">@item</a></li>
        }
    </ul>
</body>
</html>